<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<title>前途求职管理后台</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
            <!-- /nav_agile_w3l -->
            <!-- 菜单修改模块 -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>菜单</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="openMain"> <i class="fa fa-tachometer"></i> 前途求职管理后台</a></li>
                            <li>
                                <a href="openJob"><i class="fa fa-cogs" aria-hidden="true"></i>职位管理</a>
                            </li>
                            <li>
                                <a href="openCompany"> <i class="fa fa-file-text-o" aria-hidden="true"></i>公司管理 </a>
                            </li>
                            <li>
                                <a href="openSubject"> <i class="fa fa-table" aria-hidden="true"></i> 面经管理</a>
                            </li>
                            <li>
                                <a href="openUser"><i class="fa fa-list" aria-hidden="true"></i>用户管理 </a>
                            </li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="openMain"><i class="fa fa-graduation-cap" aria-hidden="true"></i>前途求职 </a></h1></li>
            <li class="second admin-pic">
                <ul class="top_dp_agile">
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="images/admin.jpg" alt=""> </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="second full-screen">
                <section class="full-top">
                    <button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                </section>
            </li>

        </ul>
        <!-- //nav -->
    </div>





		<div class="clearfix"></div>
		
		<!-- /inner_content-->
				<div class="inner_content">
				    <!-- /inner_content_w3_agile_info-->

					<!-- breadcrumbs -->
						<div class="w3l_agileits_breadcrumbs">
							<div class="w3l_agileits_breadcrumbs_inner">
								<ul>
									<li><a href="openMain">首页</a><span>«</span></li>
									
									<li>职位管理</li>
								</ul>
							</div>
						</div>
					<!-- //breadcrumbs -->

					<div class="inner_content_w3_agile_info two_in">
									
									<div class="agile-tables">
										<div class="w3l-table-info agile_info_shadow">
                                            <form action="openAddJob">
                                                <button type="submit" class="btn btn-success btn-flat btn-pri"><i class="fa fa-plus" aria-hidden="true"></i>新增</button>
                                            </form>
											<table id="table">
											<thead>
											  <tr>
												<th>职位名称</th>
												<th>地点</th>
												<th>最大金额</th>
												<th>最小金额</th>
												<th>教育水平</th>
												<th>详情</th>
                                                <th>操作</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>Web工程师</td>
												<td>北京</td>
												<td>25k</td>
												<td>30k</td>
												<td>本科</td>
												<td>啊吧啊吧</td>
                                                <td><form action="openUpdateJob"><button type = "submit" class = "btn btn-info">修改</button></form> <form action="openDeleteJob" ><button type = "submit" class = "btn btn-danger">删除</button></form></td>
											  </tr>
											</tbody>
										  </table>
								</div>
						</div>
							<!-- //tables -->
				    </div>
                    <div class="inner_content_w3_agile_info two_in">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
					<!-- //inner_content_w3_agile_info-->
				</div>




		<!-- //inner_content-->
<!--copy rights start here-->
<div class="copyrights">
    <p>© 2022 前途求职 | 前途求职，前途光明 | 杨涛 </p>
</div>	





<!-- js -->

          <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		  <script src="js/modernizr.custom.js"></script>
		
		   <script src="js/classie.js"></script>
		  <script src="js/gnmenu.js"></script>
		  <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		 </script>


<!-- tables -->

<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>


<!-- //js -->
<script src="js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});	
		});
		</script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>